.diagnosisType-container {
    display: flex;
    background-color: #454444;
    padding: 18px;
    gap: 20px;
    border-radius: 20px;
    position: relative;
    height: 430px;

    .diagnosisTypeButton {
        display: flex;
        flex-direction: column;
        gap: 35px;

        button {
            // max-width: 165px;
            margin-left: 0px;
            font-size: medium;
            font-weight: 900;
            text-align: left;
            padding: 10px 20px;
            border-radius: 10px;
            border: none;
            color: white;
            display: flex;
            justify-content: left;
            transition: transform 0.13s ease-in-out;

            &:nth-child(1) {
                background-color: #FF6B6B;
            }

            &:nth-child(2) {
                background-color: #9A9A9A;
            }

            &:nth-child(3) {
                background-color: #D3B200;
            }

            &:nth-child(4) {
                background-color: #4CAF50;
            }

            &:nth-child(5) {
                background-color: #4682B4;
            }

            &:nth-child(6) {
                background-color: #FFA500;
            }
        }
    }

    .diagnosisDisplay {
        // height: 80%;
        background-color: white;
        width: 100%;
        border-radius: 15px;
        display: flex;
        padding: 13px;
        box-sizing: border-box;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 4px;
          }
        
          &::-webkit-scrollbar-track {
            background: transparent;
          }
        
          &::-webkit-scrollbar-thumb {
            background: rgba(115, 115, 115, 0.5);
            border-radius: 100px;
            backdrop-filter: blur(4px);
          }

        h3 {
            // font-family: sans-serif;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            justify-self: center;
            align-self: center;
            text-align: center;
            flex: 1;
            color: black;
            font-size: 27px;

            ol,
            ul {
                padding: 0px;
                margin: 0xp;
                list-style-position: inside;
                list-style-type: disc;

                li {
                    text-align: left;
                    text-indent: -36px;
                    margin-left: 36px;
                }
            }
        }
    }
}