.diseaseTag {
    background-color: white;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 4px 6px;
    border-radius: 60px;

    p {
        text-align: center;
        padding: 0px 7px 0px 5px;
        font-family: sans-serif;
        box-sizing: border-box;
    }

    button {
        background-color: transparent;
        height: 23px;
        width: 23px;
        border-radius: 50%;
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
}