.sidebar-cont {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100dvh;
    width: 45px;
    border-radius: 0px 20px 20px 0px;
    z-index: 1;
    transition: width 0.1s ease;
    overflow: hidden;
    background: linear-gradient(300deg, #7a7a7a, #3F3F3F, #222222);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;



    .logoTitle-cont {
        display: flex;
        align-items: center;
        position: absolute;
        top: 4px;
        left: 4px;
        gap: 7px;
        cursor: pointer;

        img {
            height: 37px;
            aspect-ratio: 1;
            border-radius: 50%;
            box-shadow: 0px 0px 20px 3px rgba(255, 255, 255, 0.15);

        }

        h4 {
            width: 120px;
            font-size: 18px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: white;
        }
    }

    section {
        position: absolute;
        top: 20%;
        left: 4px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        svg {
            height: 25px;
            width: 25px;
            margin-left: 7px;
        }

        p {
            width: 120px;
            font-size: 16px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: white;
            font-weight: 500;
        }

        .about-cont,
        .blog-cont {
            display: flex;
            gap: 19px;
            align-items: center;
            padding: 7px 0px 7px 0px;
            border-radius: 8px;
            transition: background-color 0.2s ease;
            cursor: pointer;

            &:hover{
                background-color: #272727;
            }
        }
    }


    &:hover {
        width: 180px;
    }
}


@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}